<%- include ('./parstial/header') -%>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1>Welcome</h1>
            <p>This is your home page.</p>
            <form action="/user/logout" method="POST">
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </div>
    </div>
</div>
<%- include ('./parstial/footer') -%>
